body {
    font-family: 'IBM Plex Mono', monospace;
    text-align: center;

    left: 0;
    margin: auto;
    margin-top: -100px;
    position: absolute;
    top: 40%;
    width: 100%;

    background-color: #282c34;
    color: #FFFFFF;
}

i {
    padding: 10;
}

.link, .link:hover, .link:focus, .link:active {
    text-decoration: none;
    color: inherit;
    padding: 20px;
    font-size: 25px;
}

.cdr {
    color: inherit;
    text-decoration: underline;
    text-align: center;
}

span {
    position: relative;
    display: inline-block;
}

span:after {
    content: "";
    display: block;
    border-bottom: 2.5px solid;
    width: 0;
    background-color: #FFFFFF;
    margin: 0 auto;
    transition: all .15s linear;
}

span:hover:after {
    width: 100%;
}

p {
    font-size: 25px;
    display: inline-block;
    position: relative;
    left: 3px;
    margin:25px;
    padding:15px;
    background:
    linear-gradient(currentColor 0 0) 0 0,
    linear-gradient(currentColor 0 0) 0 0,
    linear-gradient(currentColor 0 0) 100% 100%,
    linear-gradient(currentColor 0 0) 100% 100%;
    background-size: var(--d, 0) 3px, 3px var(--d, 0);
    background-repeat: no-repeat;
    transition: 0.35s;
}

p:hover {
  --d: 100%;
}

.fas.fa-chevron-down {
    font-size: 20px;
}

.fa-brands {
    font-size: 45px;
    vertical-align: middle;
}

img {
    width: 22px;
}
